a:link {
	color: #FFF;
}
a:visited {
	color: #FFF;
}
a:hover {
	color: #C60;
	text-decoration: none;
}


a:active {
	text-decoration: none;
}

body {
    padding-top: 70px;
	background-image: url(../images/background_1300.jpg);
	background-color: #DDD5B1;
	background-repeat: repeat-x;
	
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.portfolio-item {
    margin-bottom: 25px;
}

footer {
    margin: 50px 0;
}

.jumbotron {
	background-size: 100%;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-image: url('images/header.jpg'); /* Header Image */
}


.intro-text {
 font-family: font-family: 'Open Sans Condensed', sans-serif;
 font-weight: 400;
 font-size:50px;
 color:#8F7B70;
 margin-left: 150px;
}

.header {
 font-family: 'Cinzel', serif;
 letter-spacing: 2px;
 font-weight: 700;
 font-size:20px;
 color:#000000;
}

.subheader {
 font-family: 'Lora', serif;
 font-weight: 400;
 font-size:18px;
 text-align:center;
}

.copy {
	font-family: 'Montserrat', sans-serif;
 font-weight: 400;
	font-size: 13px;
	color: #000;
	line-height: 20px;
}

.navbar-header {
	padding-top:0px;
	margin-left: 0px;
}

.nav li {
	font-family: 'Lora', serif;
	letter-spacing: 1px;
	font-size:16px;
}

/*Navbar custom color */

.navbar-default {
  background-color: #a2988a; /* gray */
  border-color: #a2988a; 
}
.navbar-default .navbar-brand {
  color: #000000;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ecf0f1;
}
.navbar-default .navbar-text {
  color: #000000;
}
.navbar-default .navbar-nav > li > a {
  color: #000000;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ecf0f1; /* blue */
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ecf0f1;
  background-color: #3576bc;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ecf0f1;
  background-color: #3576bc;
}
.navbar-default .navbar-toggle {
  border-color: #a2988a;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #3576bc;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #000000;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #000000;
}
.navbar-default .navbar-link {
  color: #000000;
}
.navbar-default .navbar-link:hover {
  color: #ecf0f1;
}

/* End nav custom color */

.img {
 padding-bottom: 20px;
}


.jumbotron {
	background-size: 100%;
    background-attachment: fixed;
    background-repeat:no-repeat;
	margin-top: -20px;
    background-image: url('../images/header.jpg'); /* Header Image */
}

section {
	padding-top: 60px;
	margin-top: -60px;
}

/* Custom Button */
.btn-book { 
  color: #ffffff; 
  background-color: #E87D1E; 
  border-color: #fff; 
} 
 
.btn-book:hover, 
.btn-book:focus, 
.btn-book:active, 
.btn-book.active, 
.open .dropdown-toggle.btn-book { 
  color: #ffffff; 
  background-color: #3576BC; 
  border-color: #fff; 
} 
 
.btn-book:active, 
.btn-book.active, 
.open .dropdown-toggle.btn-book { 
  background-image: none; 
} 
 
.btn-book.disabled, 
.btn-book[disabled], 
fieldset[disabled] .btn-book, 
.btn-book.disabled:hover, 
.btn-book[disabled]:hover, 
fieldset[disabled] .btn-book:hover, 
.btn-book.disabled:focus, 
.btn-book[disabled]:focus, 
fieldset[disabled] .btn-book:focus, 
.btn-book.disabled:active, 
.btn-book[disabled]:active, 
fieldset[disabled] .btn-book:active, 
.btn-book.disabled.active, 
.btn-book[disabled].active, 
fieldset[disabled] .btn-book.active { 
  background-color: #E87D1E; 
  border-color: #fff; 
} 
 
.btn-book .badge { 
  color: #E87D1E; 
  background-color: #ffffff; 
}

/* End Custom Button */

/*Email Link */
a[href^="mailto"]:hover:after { content: " > " attr(title); } 

a.fancy:hover:after { content: " > " attr(title); }

/*Grayscale overlay */
img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 53%;
        display: block;
        width: 48px;
        text-align: center;
        background-color: #a2988a;
    }
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
	
	  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecf0f1;
    background-color: #3576bc;
  }
}